@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
	font-family: 'Kozuka Gothic PR6N', sans-serif;
}

.grid-container {
	display: grid;
	grid-template-areas: 
		'banner banner banner banner'
		'citat citat citat citat'
		'titel-firma titel-firma titel-firma titel-firma'
		'tekst-om-firma tekst-om-firma tekst-om-firma tekst-om-firma';
}

.mobile-bar {
	width: 100vw;
	min-width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #002728;
	z-index: 10;
}

.menu-icon {
	color: white;
	margin: 4vw;
}

#menu-button, #menu-button-close {
	float: left;
	position: relative;
	top: 0;
	left: 0;
	color: white;
}

#menu-button-close {
	margin: 4vw ;
}

#menu-cart {
	float: right;
}

.logo {
	grid-area: logo;
	background-color: #002728;
	width: 100vw;
	margin: 0 auto;
}
 
.logo img {
	width: 50vw;
	height: 12vh;
	padding: 10px 0;
	display: block;
    margin: 0 auto;
}

nav {
	background-color: #002728;
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	transform: translateX(-100%);
    transition: all .3s ease-out;
    opacity: .7;
 	z-index: 10;
	grid-area: nav;
}

.navigation-active nav {
    transform: translateX(0);
    opacity: 1;
	z-index: 100;
}

.navigation-active #menu-button {
    opacity: 0;
}

nav ul {
	list-style-type: none;
	padding: 10vh 0 0;
	
}

nav ul li {
	margin: 40px 20px;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin: 20px;
	
}

.cart {
	font-size: 2em;
	color: white;
	margin: 0 40px;
	padding: 0;
}

.cart a {
	padding: 0;
	margin: 0;
}

.cart a::after {
	content: "Kurv";
	padding: 0 10px;
	margin: 0;
}

.dropdown-content a {
	display: block;
	margin: 20px 0 20px 100px;
}

/*---- FORSIDE -----------------------------*/

.citat {
	grid-area: citat;
	width: 90vw;
	height: 25vh;
	margin-top: 5vh;
	margin-left: 5vw;
}

.citat p {
	color: #606060;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	line-height: 1.5em;
}

.citationstegn {
	color: #D6A900;
	font-size: 1.5em;
}

p.tagline {
	font-style: normal;
}

.banner {
	grid-area: banner; 
}

.banner img { 
	width: 100vw;
	padding-top: 10vh;
} 

.titel-firma {
	grid-area: titel-firma;
	margin-top: 5vh;
}

.titel-firma h2 {
	color: #606060;
	text-align: center; 
	position: relative;
	z-index: -1;
}

.titel-firma h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: -1;
}

.titel-firma h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 18px;
	z-index: -1;
}

.tekst-om-firma {
	grid-area: tekst-om-firma;
	width: 90vw;
	margin: 0 auto;
}


/* --- PRODUKTER ------------------------------------------ */
.productchair{
	grid-area: chair;
	width: 100vw;
	margin-bottom: 5vh;
}

.chairpic{
	margin-bottom: 0;
	width: 100vw;
	margin-top: 7vh;
	padding: 4vh 0vw 0vh 0;
	background-color: #f5f5f5;
}

.productswing{
	grid-area: swing;
	margin-bottom: 5vh;
}

.productblanket{
	grid-area: blanket;
	margin-bottom: 5vh;
}

.productponcho{
	grid-area: poncho;
	margin-bottom: 5vh;
}

.productspillow{
	grid-area: pillow;
	margin-bottom: 5vh;
}

.productstitles, .productstitlechair{
	font-family: 'Lato', sans-serif;
	font-size: 2.5vh;
	margin-left: 7vw;
	color: #000;
	display: inline-block;
}

.read-more-button{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 25vw;
	display: inline-block;
	float: right;
	margin-right: 10vw;
	margin-top: 2vh;
	padding: 1.5vh;
	color: #FFF;
	background-color: #002728;
	text-align: center;
}

a.read-more-button {
	text-decoration: none;
}

.productpic{
	width: 100vw;
	background-color: #f5f5f5;
}

.produkt-knap {
	display: none;
}

#torighttitle, #torighttitle1{
		margin-bottom: -0.7vh;
	}


.grid-container-produkter{
	display: grid;
	grid-template-areas: 
		'chair chair'
		'swing swing'
		'blanket blanket'
		'poncho poncho'
		'pillow pillow';
}


#toright,#toright1{
		top: 0vh;
	}

/* --- STOL ------------------------------------------------------------- */
.grid-container-stol {
	display: grid;
	grid-template-areas: 
		'crumbs crumbs crumbs crumbs'
		'main-image main-image main-image main-image'
		'g1 g1 g2 g2'
		'g3 g3 g4 g4'
		'speci speci speci speci'
		'other other other other'
		'other-items other-items other-items other-items';
}

.breadcrumbs {
	display: none;
	
}

.crumbs {
	grid-area: crumbs;
	margin: 15vh 4vw 0;
}

.main-image {
	grid-area: main-image;
}

.main-image img {
	width: 100vw;
	margin-bottom: 10px;
	background-color: #f5f5f5;
}

#gallery1{grid-area: g1;}
#gallery2{grid-area: g2;}
#gallery3{grid-area: g3;}
#gallery4{grid-area: g4;}

.gallery-images {
	width: 100vw;
	margin: 0 auto;
	text-align: center;
	
}

.gallery-images img {
	width: 45vw;
	margin: 1vw;
}

.specifications {
	grid-area: speci;
	width: 100vw;
	background-color: #F5F5F5;
	padding: 6vw;
	margin-bottom: 10px;
}

.specifications h2 {
	margin: 0;
}

.specifications h4 {
	margin-top: 2em;
	margin-bottom: .5em;
}

#color-choice-text {
	margin-bottom: 1em;
}

.color-choice {
	width: 100%;
}

.color-choice img {
	width: 19vw;
	margin: 0 2vw 0 0;
	border: 1px solid #002728;
	
}

#price-text {
	display: inline-block;
	float: left;
}

#buy {
	display: inline-block;
	float: right;
	background-color: #002728;
	color: white;
	padding: 12px 5vw;
	margin-top: 20px;
}

#buy h4 {
	margin: 0;
}

.other-text {
	grid-area: other;
	margin-top: 40px;
}

.other-text h2 {
	color: #606060;
	text-align: center; 
	position: relative;
	z-index: -1;
}

.other-text h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: 1;
}

.other-text h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 5vw;
}


.other-items {
	grid-area: other-items;
	display: grid;
	grid-template-areas: 
		'other1 other2'
		'other3 other4';
	width: 100vw;
}

.other-items img {
	display: inline-block;
	width: 45vw;
	margin: 1vw;
	background-color: #f5f5f5;
	position: relative;
}

.other-items a:nth-child(1) {
	height: 45vw;
}

.other-items a:nth-child(2) {
	text-decoration: none;
	background-color: #002728;
	color: white;
	padding: 14px 20px;
	position: relative;
	top: -10vh;
	right: 6vw;
	float: right;
}

.other1 {
	grid-area: other1;
	margin: 0 0 0 auto;
}

.other2 {
	grid-area: other2;
	margin: 0 auto 0 0;
}

.other3 {
	grid-area: other3;
	margin: 0 0 0 auto;
}

.other4 {
	grid-area: other4;
	margin: 0 auto 0 0;
}


/* --- DOKUMENTATION ------------------------------------------------------- */
.grid-container-dokumentation {
	display: grid;
	grid-template-areas:
		'banner banner banner'
		'cc cc cc'
		'titel-dokumentation titel-dokumentation titel-dokumentation'
		'tekst-til-dokumentation tekst-til-dokumentation tekst-til-dokumentation'
		'titel-samarbejdspartnere titel-samarbejdspartnere titel-samarbejdspartnere'
		'samarbejdsparnere  samarbejdsparnere  samarbejdsparnere'; 
}


.banner-dokumentation {
	grid-area: banner;
}

.banner-dokumentation img {
	width: 100vw;
	height: auto;
	padding-top: 10vh;
}

.citat-container {
	grid-area: cc;
	display: grid;
	grid-template-areas: 
		'citat1'
		'bruger1'
		'citat2'
		'bruger2'
		'citat3'
		'bruger3';
}

.citat1 {
	grid-area: citat1;
	width: 90vw;
	height: auto;
	margin-top: 4vh;
	margin-left: 6vw;
	font-size: 17px;
	font-style: italic;
	line-height: 1.5em;
}

.bruger1 {
	grid-area: bruger1;
	font-size: 14px;
	margin: 2vh 6vw 0 0;
	text-align: right;
}

.citat2 {
	grid-area: citat2;
	width: 90vw;
	height: auto;
	margin-top: 4vh;
	margin-left: 5vw;
	font-size: 17px;
	font-style: italic;
	line-height: 1.5em;
}

.bruger2 {
	grid-area: bruger2;
	font-size: 14px;
	margin: 3vh 5vw 0 0;
	text-align: right;
}

.citat3 {
	grid-area: citat3;
	width: 90vw;
	height: auto;
	margin-top: 4vh;
	margin-left: 5vw;
	font-size: 16px;
	font-style: italic;
	line-height: 1.5em;
}

.bruger3 {
	grid-area: bruger3;
	font-size: 14px;
	margin: 3vh 5vw 0 0;
	text-align: right;
}

.titel-dokumentaion {
	grid-area: titel-dokumentation;
}

.titel-dokumentaion h2 {
	color: #606060;
	text-align: center; 
	position: relative;
	z-index: -1;
}

.titel-dokumentaion h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: 1;
}

.titel-dokumentaion h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 5vw;
}
	

.tekst-til-dokumentation {
	grid-area: tekst-til-dokumentation;
	display: grid;
	width: 100vw;
	height: auto;
	grid-template-areas: 
		'spalte1 spalte1 spalte1 spalte1'
		'spalte2 spalte2 spalte2 spalte2'
		'spalte3 spalte3 spalte3 spalte3';
}

.spalte1 {
	grid-area: spalte1;
	width: 90vw;
	height: auto;
}

.spalte1 h3 {
	margin-left: 5vw;
}

.spalte1 p {
	margin-left: 5vw;
}

.spalte2 {
	grid-area: spalte2;
	width: 90vw;
	height: auto;
}

.spalte2 a {
	color: #D6A900;
}

.spalte2 h3 {
	margin-left: 5vw;
}

.spalte2 p {
	margin-left: 5vw;
}

.spalte3 {
	grid-area: spalte3;
	width: 90vw;
	height: auto;
}

.spalte3 h3 {
	margin-left: 5vw;
}

.spalte3 p {
	margin-left: 5vw;
}

.spalte3 img {
	width: 100vw;
	height: auto;
	margin-top: 5vh;
}


.titel-samarbejdspartnere {
	 grid-area: titel-samarbejdspartnere;
}

.titel-samarbejdspartnere h2 {
	color: #606060;
	text-align: center; 
	position: relative;
	z-index: -1;
}

.titel-samarbejdspartnere h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: 1;
}

.titel-samarbejdspartnere h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 5vw;
}

.titel-samarbejdspartnere p {
	width: 90vw;
	margin-left: 5vw;
}

.samarbejdspartnere {
	grid-area: samarbejdsparnere;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	width: 100vw;
	height: auto;
	display: grid;
	grid-template-areas: 
		'herning-psykiatri randers-psykiatri' 
		'horsens-psykiatri lejbjergcentret' 
		'marco-polo gug-geronto'
		'attruphøj taleinstitut' 
		'odense-psykiatri plejecenter'
		'hjallerup-skole solkrogen' 'ringstedshave headspace'
		'dronnig-ingrid-hospital seminarieskolen' 
		'skovsgård-tranum-skole vester-mariensdal-skole';
}

.herning-psykiatri {
	grid-area: herning-psykiatri;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}

.randers-psykiatri {
	grid-area: randers-psykiatri;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 5vw;

}

.horsens-psykiatri {
	grid-area: horsens-psykiatri;
	width: 15vw;
	height: auto;
	margin-top: 5vh;
	margin-left: 20vw;
}

.lejbjergcentret {
	grid-area: lejbjergcentret;
	width: 15vw;
	height: auto;
	margin-top: 8vh;
	margin-left: 5vw;
}

.marco-polo {
	grid-area: marco-polo;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}

.gug-geronto {
	grid: gug-geronto;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 5vw;
}

.attruphoj {
	grid-area: attruphøj;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}

.taleinstituttet {
	grid-area: taleinstitut;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 5vw;
}

.odense-psykiatri {
	grid-area: odense-psykiatri;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}

.plejecenter-stoberiet {
	grid-area: plejecenter;
	width: 15vw;
	height: auto;
	margin-top: 4vh;
	margin-left: 5vw;
}

.hjallerup-skole {
	grid-area: hjallerup-skole;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}


.solkrogen {
	grid-area: solkrogen;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 5vw;
}

.ringstedshave {
	grid-area: ringstedshave;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}


.headspace {
	grid-area: headspace;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 5vw;
}

.dronning-ingrid-hospital {
	grid-area: dronnig-ingrid-hospital;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}

.seminarieskolen {
	grid-area: seminarieskolen;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 5vw;
}

.skovsgard-tranum-skole {
	grid-area: skovsgård-tranum-skole;
	width: 15vw;
	height: auto;
	margin-top: 2vh;
	margin-left: 20vw;
}

.vester-mariendal-skole {
	grid-area: vester-mariensdal-skole;
	width: 15vw;
	height: auto;
	margin-top: 9vh;
	margin-left: 5vw;
}

.samarbejdspartnere img {
	width: 20vw;
	vertical-align: center;
}

/* --- OM OS ------------------------------------------------------- */

.grid-container-om-os {
	display: grid;
	grid-template-areas:
		'kristine kristine kristine' 
		'maya maya maya' 
		'lasse lasse lasse'
		'vision-mission vision-mission  vision-mission' 
		'titel-historie titel-historie titel-historie'
		'tekst-til-historie tekst-til-historie tekst-til-historie';
	width: 100vw;
}

.kristine {
	grid-area: kristine;
	margin-top: 20vh;
	text-align: center;
}

.kristine img {
	width: auto;
	height: 40vh;
}

.kristine h2 {
	color: #606060;
	margin-bottom: .5em
}

.kristine p {
	color: #D6A900;
	font-size: 18px;
	margin-top: .5em;
}

.maya {
	grid-area: maya;
	margin-top: 5vh;
	text-align: center;
}

.maya img {
	width: auto;
	height: 40vh;
}

.maya h2 {
	color: #606060;
	margin-bottom: .5em;
}
.maya p {
	color: #D6A900;
	font-size: 18px;
	margin-top: .5em;
}

.lasse {
	grid-area: lasse;
	margin-top: 5vh;
	text-align: center;
}

.lasse img {
	width: auto;
	height: 40vh;
}

.lasse h2 {
	color: #606060;
	margin-bottom: .5em;
}
.lasse p {
	color: #D6A900;
	font-size: 18px;
	margin-bottom: 8vh;
	margin-top: .5em;
}

.vision-mission {
	grid-area: vision-mission;
	display: grid;
	width: 100vw;
	height: auto;
	grid-template-areas: 
		'vision vision'
		'mission mission';
}

.vision {
	grid-area: vision;
	background-color: #ddd;
	width: 100vw;
	height: auto;
}

.vision h2 {
	margin-left: 5vw;
}

.vision p {
	font-size: 16px;
	line-height: 1.3em;
	margin-left: 5vw;
	margin-right: 10vw;
}

.mission {
	grid-area: mission;
	background-color: #ddd;
	width: 100vw;
	height: auto;
}

.mission h2 {
	margin-left: 5vw;
}

.mission p {
	font-size: 16px;
	line-height: 1.3em;
	margin-left: 5vw;
	margin-right: 10vw;
}

.titel-historie {
	grid-area: titel-historie;
}

.titel-historie h2 {
	color: #606060;
	text-align: center; 
	position: relative;
	z-index: -1;
	top: 2vh;
}

.titel-historie h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: 1;
}

.titel-historie h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 5vw;
}

.tekst-til-historie {
	grid-area: tekst-til-historie;
	display: grid;
	width: 100vw;
	height: auto;
	grid-template-areas: 
		'kolonne1 kolonne1 kolonne1'
		'kolonne2 kolonne2 kolonne2'
		'kolonne3 kolonne3 kolonne3'
}

.kolonne1 {
	grid-area: kolonne1;
	width: 90vw;
	height: auto;
	margin-left: 5vw;
}

.kolonne1 h3, p {
	line-height: 1.3em;
	font-family: 'Lato', sans-serif;
}

.kolonne2 {
	grid-area: kolonne2;
	width: 90vw;
	height: auto;
	margin-left: 5vw;
}

.kolonne2 h3, p {
	line-height: 1.3em;
	font-family: 'Lato', sans-serif;
}

.kolonne3 {
	grid-area: kolonne3;
	width: 90vw;
	height: auto;
	margin-left: 5vw;
}

.kolonne3 h3, p {
	line-height: 1.3em;
	font-family: 'Lato', sans-serif;
}

.kolonne4 {
	display: none;
}


/* --- KONTAKT ---------------------------------------------- */

.grid-container-kontakt {
	display: grid;
	grid-template-areas: 
		'titel1 titel1 titel1 titel1'
		'kontakt-info kontakt-info kontakt-info kontakt-info'
		'titel2 titel2 titel2 titel2'
		'skriv-til-os skriv-til-os skriv-til-os skriv-til-os'
		'billede-af-stol billede-af-stol billede-af-stol billede-af-stol';
}


.billede-af-stol {
	grid-area: billede-af-stol;
}

.billede-af-stol img {
	width: 100vw;
	margin-bottom: -5px;
}

.titel1 {
	grid-area: titel1;
	width: 99vw;
	margin-top: 12vh;
	z-index: -1;
}

.titel1 h2 {
	color: #606060;
	text-align: center; 
	position: relative;
}

.titel1 h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: 1;
}

.titel1 h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 5vw;
}

.kontakt-info {
	grid-area: kontakt-info;
	width: 90vw;
	margin-left: 5vw;

}

.ikoner {	
	background-color: #f2f2f2;
	display: grid; 
	grid-template-areas: 
		'adresse-ikon adresse' 
		'telefon-ikon telefon'
		'email-ikon email' 
		'facebook-ikon facebook';
	
}

.ikoner i {
	margin-left: 10vw;
	margin-top: 2vh;
	font-size: 20px;
}

.ikoner p {
	line-height: 1;
	margin-right: 20vw;
}

.adresse-ikon {
	grid-area: adresse-ikon; 
}

.adresse {
	grid-area: adresse;
}

.telefon-ikon {
	grid-area: telefon-ikon;
}

.telefon {
	grid-area: telefon;
}

.email-ikon {
	grid-area: email-ikon;
}

.email {
	grid-area: email;
}

.facebook-ikon {
	grid-area: facebook-ikon;
}

.facebook {
	grid-area: facebook;
}

i.some {
	margin: 0 2vw 0 0;
	font-size: 28px;
}

.titel2 {
	grid-area: titel2;
	width: 99vw;
	height: 10vh;
	z-index: -1;
}

.titel2 h2 {
	color: #606060;
	text-align: center; 
	position: relative;
}

.titel2 h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: 1;
}

.titel2 h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 5vw;
}

.skriv-til-os {
	grid-area: skriv-til-os;
	width: 90vw;
	margin-left: 5vw;
}

.kontakt-formular {
	background-color: #f2f2f2;
	padding: 30px;
	margin-bottom: 2vh;
}

input[type=text], select, textarea {
	width: 80vw;
	display: block;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 2vh;
	margin-bottom: 2vh;
	resize: vertical;
	font-family: 'Lato', sans-serif;
}

input[type=submit] {
	background-color: #002728;
	color: white;
	padding: 1.5vh 5vw;
	border: none;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
}

/* --- KURV ----------------------------------------------- */

.kurvtekst{
	margin-top: 10vh;
	margin-left: 5vw;
	width: 90vw;
	height: 50vh;
	font-size: 3vh;
	font-family: 'Kozuka Gothic PR6N', sans-serif;
	color: #000;
	margin-bottom: 30vh;
}

.tilbageknap{
	color: #FFF;
	background-color: #002728;
	padding: 2vh 3vw;
	font-size: 2.5vh;
}

a.tilbageknap {
	text-decoration: none;
}

.kurvtekst{
	text-align: center;
	font-size: 4vh;
}

/* --- FOOTER ---------------------------------------------- */

footer {
	grid-area: foot;
	background-color: #002728;
	width: 100vw;
	text-align: center;
}

footer p {
	color: white;
	font-family: 'Lato', sans-serif;
	margin: auto 5vw 0;
	padding-top: 2vh;
}

footer p:nth-child(2) {
	padding: 2vh;
	font-size: 14px;
}

/* style for tablet (portrait) and upwards */
@media screen and (min-width: 768px) {	
	/* ---- FORSIDE --------------------------------------- */
	.grid-container {
		grid-template-areas: 
			'banner banner banner banner'
			'citat citat citat citat'
			'titel-firma titel-firma titel-firma titel-firma'
			'tekst-om-firma tekst-om-firma tekst-om-firma tekst-om-firma';	
	}

	.citat {
		width: 35vw;
		height: auto;
		margin-top: 0;
		margin-left: 8vw; 
		position: absolute;
		top: 20vh;
		z-index: -1;
	}

	.citat p {
		color: #606060;
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		font-style: italic;
		line-height: 1.5em;
	}

	.citationstegn {
		color: #D6A900;
		font-size: 1.5em;
	}
	
	p.tagline {
		font-style: normal;
	}

	.banner img { 
		width: 100vw;
		height: auto;
		padding-top: 10vh;
	}
	
	.titel-firma {
		margin-top: 0;
	}

	.titel-firma h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		top: 2vh;
	}

	.titel-firma h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: -1;
	}

	.titel-firma h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 1.5vh;
		width: 90vw;
		left: 18px;
	}
	
	.tekst-om-firma {
		display: grid;
		grid-template-areas: 
			's1 s2';
		width: 80vw;
	}
	
	.forside-s1 {
		grid-area: s1;
		width: 35vw;
	}
	
	.forside-s2 {
		grid-area: s2;
		width: 35vw;
		margin: 0 0 0 auto;
	}
	
	/* --- PRODUKTER -----------------*/
	.grid-container-produkter{
	grid-template-areas:
		'chair chair chair chair'
		'swing swing blanket blanket'
		'poncho poncho pillow pillow';
	}

	.productpic{
		width: 44vw;
		margin: 5vh 4vw;
		position: relative;
	}
	
	.chairpic{
		width: 90vw;
		margin: 14vh 5vw 0;
		padding: 0;
		position: relative;
	}
	
	.read-more-button, #chairbutton, .productstitles {
		display: none;
	}
	
	.produkt-knap {
		display: block;
		background-color: #002728;
		color: white;
		text-align: center;
		text-decoration: none;
		padding: 14px 20px;
		width: 23vw;
		float: right;
		position: relative;
		margin: -6vh 5vw 0;
	}
	
	.left {
		margin-right: 10vw; 
	}
	
	.productstitlechair{
		top: 14vh;
		left: 2vw;
		position: absolute;
		font-size: 2em;
	}
	
	.productswing img {
		margin: -3vh 0 0 5vw;
	}
	
	.productblanket img {
		margin: -3vh 0 0 0;
	}
	
	.productponcho img {
		margin: -3vh 0 0 5vw;
	}
	
	.productspillow img {
		margin: -3vh 5vw 0 0;
	}
	
	.productponcho, .productspillow {
		margin-bottom: 0;
	}
	
  /*--- STOL ------------------------------------------*/
	.grid-container-stol {
		display: grid;
		grid-template-areas: 
			'crumbs crumbs'
			'main-image main-image'
			'g1 speci'
			'g2 speci'
			'g3 speci'
			'g4 speci'
			'other other'
			'other-items other-items';
	}
	
	.gallery-images {
		width: 50vw;
	}

	.gallery-images img {
		width: 50vw;
		margin-left: 0;
		margin-bottom: 0;
	}

	.specifications {
		width: 50vw;
		margin: 1vw 0 0 1vw;
	}

  	.color-choice img {
		width: 15vw;
		margin: 0 2vw 2vw 0;
	}
	
	
/* ---- DOKUMENTATION ---------------------------------*/	
	.grid-container-dokumentation {
		grid-template-areas:
			'banner banner banner'
			'cc cc cc'
			'titel-dokumentation titel-dokumentation titel-dokumentation'
			'tekst-til-dokumentation tekst-til-dokumentation tekst-til-dokumentation'
			'titel-samarbejdspartnere titel-samarbejdspartnere titel-samarbejdspartnere'
			'samarbejdsparnere  samarbejdsparnere  samarbejdsparnere';
	}
	
	.banner-dokumentation img {
		width: 100vw;
		height: auto;
	}
	
	
	.citat-container {
		grid-area: cc;
		display: grid;
		grid-template-areas: 
			'citat1 citat2 citat3'
			'bruger1 bruger2 bruger3';
	}

	.citat1 {
		width: 26vw;
		height: auto;
		margin-left: 6vw;
		margin-top: 4vh;
		font-size: 18px;
		font-style: italic;
		line-height: 1.5em;
	}
	
	.bruger1 {
		line-height: 1.5em;
		font-size: 14px;
		margin: 0 5vw auto 0;
	}
	
	.citat2 {
		width: 25vw;
		height: auto;
		font-size: 18px;
	}
	
	.bruger2 {
		font-size: 14px;
		line-height: 1.3em;
		margin: 0 5vw auto 0;
	}

	.citat3 {
		width: 24vw;
		height: auto;
		font-size: 18px;
	}
	
	.bruger3 {
		font-size: 14px;
		line-height: 1.5em;
		margin: 0 5vw auto 0;
	}
	
	.titel-dokumentaion h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		z-index: -1;
	}

	.titel-dokumentaion h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.titel-dokumentaion h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 1.5vh;
		width: 90vw;
		left: 5vw;
	}
	
	.tekst-til-dokumentation {
		display: grid;
		width: 100vw;
		height: auto;
		grid-template-areas: 
			'spalte1 spalte1 spalte2 spalte2'
			'spalte1 spalte1 spalte3 spalte3';
	}

	.spalte1 {
		width: 50vw;
		height: auto;
	}

	.spalte1 h3 {
		margin-left: 5vw;
		margin-bottom: -1vh;
	}

	.spalte1 p {
		margin-left: 5vw;
		line-height: 1.3em;
	}

	.spalte2 {
		width: 50vw;
		height: auto;
	}

	.spalte2 h3 {
		margin-left: 5vw;
		margin-bottom: -1vh;
	}

	.spalte2 p {
		margin-left: 5vw;
		line-height: 1.3em;
	}

	.spalte3 {
		width: 50vw;
		height: auto;
	}

	.spalte3 h3 {
		margin-left: 5vw;
		margin-bottom: -1vh;
	}

	.spalte3 p {
		margin-left: 5vw;
		line-height: 1.3em;
	}

	.spalte3 img {
		width: 50vw;
		height: auto;
	}
	
	.titel-samarbejdspartnere h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		z-index: -1;
	}

	.titel-samarbejdspartnere h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.titel-samarbejdspartnere h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 1.5vh;
		width: 90vw;
		left: 5vw;
	}
	
	.titel-samarbejdspartnere p {
		width: 50vw;
		margin: 0 auto;
		text-align: center;
	}
	
	.samarbejdspartnere {
		grid-template-areas: 
			'herning-psykiatri randers-psykiatri horsens-psykiatri' 'lejbjergcentret marco-polo gug-geronto'
			'attruphøj taleinstitut odense-psykiatri'
			'plejecenter hjallerup-skole solkrogen'
			'ringstedshave headspace dronnig-ingrid-hospital'
			'seminarieskolen skovsgård-tranum-skole vester-mariensdal-skole';
		width: 90vw;
	}
	
	.herning-psykiatri {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.randers-psykiatri {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.horsens-psykiatri {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 5vw;
	}

	.lejbjergcentret {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.marco-polo {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.gug-geronto {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 5vw;
	}

	.attruphoj {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.taleinstituttet {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.odense-psykiatri {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 5vw;
	}

	.plejecenter-stoberiet {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.hjallerup-skole {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.solkrogen {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 5vw;
	}

	.ringstedshave {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.headspace {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.dronning-ingrid-hospital {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 5vw;
	}

	.seminarieskolen {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.skovsgard-tranum-skole {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 10vw;
	}

	.vester-mariendal-skole {
		width: 15vw;
		height: auto;
		margin-top: 5vh;
		margin-left: 5vw;
	}

	

	/* --- OM OS ------------------------------------------------------------------------- */
	.grid-container-om-os {
		grid-template-areas:
			'kristine maya lasse'
			'vision-mission vision-mission vision-mission' 
			'titel-historie titel-historie titel-historie'
			'tekst-til-historie tekst-til-historie tekst-til-historie';
	}

	.kristine {
		margin-top: 20vh;
		text-align: center;
	}

	.kristine img {
		width: auto;
		height: 20vh;
	}

	.kristine h2 {
		color: #606060;
	}

	.kristine p {
		color: #D6A900;
		font-size: 18px;
	}

	.maya {
		margin-top: 5vh;
		text-align: center;
	}

	.maya img {
		width: auto;
		height: 20vh;
		margin-top: 15vh;
	}

	.maya h2 {
		color: #606060;
	}
	
	.maya p {
		color: #D6A900;
		font-size: 18px;
	}

	.lasse {
		margin-top: 5vh;
		text-align: center;
	}

	.lasse img {
		width: auto;
		height: 20vh;
		margin-top: 15vh;
	}

	.lasse h2 {
		color: #606060;
	}

	.lasse p {
		color: #D6A900;
		font-size: 18px;
		margin-bottom: 5vh;
	}

	.vision-mission {
		display: grid;
		width: 100vw;
		height: auto;
		grid-template-areas: 
			'vision mission';
	}

	.vision {
		background-color: #ddd;
		width: 50vw;
		height: auto;
	}

	.vision h2 {
		margin-left: 10vw;
	}

	.vision p {
		font-size: 16px;
		line-height: 1.3em;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.mission {
		background-color: #ddd;
		width: 50vw;
		height: auto;
	}

	.mission h2 {
		margin-left: 5vw;
	}

	.mission p {
		font-size: 16px;
		line-height: 1.3em;
		margin-left: 5vw;
		margin-right: 10vw;
	}

	.titel-historie h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		z-index: -1;
	}

	.titel-historie h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.titel-historie h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 1.5vh;
		width: 90vw;
		left: 5vw;
	}

	.tekst-til-historie {
		grid-area: tekst-til-historie;
		display: grid;
		width: 90vw;
		height: auto;
		grid-template-areas: 
			'kolonne1 kolonne3'
			'kolonne2 kolonne4';
		margin: 0 auto;
	}

	.kolonne1 {
		width: 40vw;
		height: auto;
		margin-left: 5vw;
	}

	.kolonne1 h3, p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}

	.kolonne2 {
		width: 40vw;
		height: auto;
		margin-left: 5vw;
	}

	.kolonne2 h3, p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}

	.kolonne3 {
		width: 40vw;
		height: auto;
		margin-left: 5vw;
	}

	.kolonne3 h3, p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}
	
	.kolonne4 {
		grid-area: kolonne4;
		display: block;
		margin: auto auto 0;
	}
	
	.kolonne4 img {
		width: 40vw;
	}
	
	/* --- KONTAKT ------------------------------------------ */
	.ikoner {grid-template-areas: 
		'adresse-ikon adresse telefon-ikon telefon'
		'email-ikon email facebook-ikon facebook';
	}
	
	.ikoner i {
		margin-left: 5vw;
	}
	
	.ikoner p {
		margin-right: 10vw;
	}
	
	i.some {
		margin: 0 2vw 0 0;
	}
	
}


/* style for tablet (landscape) and upwards */
@media screen and (min-width: 1024px) {	
	p {
		font-size: 18px;
	}
	
	.logo {
		width: 100vw;
	}
	
	.logo img {
	 	width: 100vw;
		height: 10vh;
		padding-top: 2vh;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	#menu-button, #menu-button-close, #menu-cart {
		display: none;
	}
	
	nav {
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(0);
		transition: none;
		background-color: transparent;
		opacity: 1;
		padding-top: 10vh;
		height: 15vh;
	}
	
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0 10vw;
		overflow: hidden;
		background-color: #002728;
		width: 100vw;
	}

	nav ul li {
	 	float: left;
		margin: 0;
		left: 82px;
	}

	nav ul li a {
		display: inline-block;
		padding: 14px 20px;
		margin: 0;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
		font-family: 'Lato', sans-serif;
		color: white;
	}

	nav ul li a:hover, .dropdown:hover {
		background-color: #144041;
		color: white;
	}
	
	.dropdown-button {
		display: inline-block;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
	}
	
	li.dropdown {
		display: inline-block;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #002728;
		min-width: 160px;
		z-index: 10;
	}
	
	.dropdown-content a {
		color: white;
		padding: 14px 20px;
		text-decoration: none;
		display: block;
		text-align: left;
		margin: 0;
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}
	
	.cart {
		font-size: 1em;
		float: right;
		margin: 0 20px;
	}
		
	li i {
		color: white;
		margin: 14px 0px;
	}
	
	li.active a {
		color: #D6A900;
	}
	
	.active {
		color: #D6A900;
	}
	
	
	/* --- FORSIDE ------------------------- */
	.grid-container {
		grid-template-areas:
			'banner banner banner banner'
			'citat citat citat citat'
			'titel-firma titel-firma titel-firma titel-firma'
			'tekst-om-firma tekst-om-firma tekst-om-firma tekst-om-firma';
	}	
	
	
	.citat {
		width: 35vw;
		height: 50vh;
		margin-left: 10vw; 
		position: absolute;
		top: 30vh;
		z-index: -1;
	}
	
	.citat p {
		font-size: 1.2em;
	}
	
	.citat p.tagline {
		font-style: normal;
		font-size: 1.5em;
	}
	
	.banner img {
		width: 100vw;
		float: right;
		padding-top: 10vh;
	}

	
	.titel-firma {
		width: 100vw;
	}
	
	.titel-firma h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		top: 2vh;
		z-index: -1;
	}

	.titel-firma h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;

	}

	.titel-firma h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 2vh;
		width: 86vw;
		left: 86px;
	}
	
	/* --- PRODUKTER --------------------------------------------*/
	.grid-container-produkter {
		grid-template-areas:
		'chair chair chair chair'
		'swing swing blanket blanket'
		'poncho poncho pillow pillow';
	}
	
	.productpic{
		width: 39vw;
		margin: 0;
	}

	.chairpic{
		width: 80vw;
		margin: 18vh 10vw 0;
		padding: 8vh 0vw 0;
	}
	
	.productstitlechair{
		top: 17vh;
		left: 10vw;
	}
	
	.productswing, .productponcho {
		margin: 0 0 1vh 10vw;
	} 
	
	.productblanket, .productspillow {
		margin: 0 10vw 1vh 1vw;
	}
	
	.produkt-knap {
		font-size: 18px;
		width: 17vw;
		margin: -11vh 5vw 0;
	}
	
	.left {
		margin-right: 5vw
	}
	
	.chair {
		margin-right: 15vw;
	}
	
	.productswing img {
		margin: 0;
	}
	
	.productblanket img {
		margin: 0;
	}
	
	.productponcho img {
		margin: 0;
	}
	
	.productspillow img {
		margin: 0;
	}

	
	/* --- STOL ------------------------------------------------------------------------- */
	.grid-container-stol {
		margin: 0 10vw;
		padding: 0 20px;
		display: grid;
		grid-template-areas: 
			'crumbs crumbs crumbs crumbs'
			'main-image main-image speci speci'
			'g1 g2 speci speci'
			'g3 g4 speci speci'
			'other other other other'
			'other-items other-items other-items other-items';
	}
	
	.crumbs {	
		margin: 0;
	}

	.breadcrumbs {
		display: block;
		margin-top: 17vh;
		color: #A7A7A7;
	}

	.breadcrumbs a {
		color: #A7A7A7;
		text-decoration: none;
	}
	
	.breadcrumbs a:hover {
		text-decoration: underline;
	}
	
	.main-image img {
		width: 40vw;
		margin-right: 1vw;
	}
	
	.gallery-images {
		width: 40vw;
		margin: 0;
	}
	
	.gallery-images img {
		width: 20vw;
		margin: 0;
	}
	
	#gallery1, #gallery3 {
		float: left;
		padding-right: 5px;
		padding-bottom: 10px;
	}

	#gallery2, #gallery4{
		float: right;
		padding-left: 5px;
		padding-bottom: 10px;
	}
	
	
	.specifications {
		width: 38vw;
		padding: 40px 50px;
		margin: 0;
		margin-bottom: 10px;
	}
	
	.color-choice {
		width: 100%;
	}
	
	.color-choice img {
		width: 5vw;
		margin: 0 4% 0 0;
	}
	
	.color-choice img:hover {
		cursor: pointer;
	}

	
	#buy {
		display: inline-block;
		float: right;
		background-color: #002728;
		color: white;
		padding: 12px 5vw;
		margin-top: 20px;
	}
	
	.other-text h2:before {
		left: 0;
		width: 80vw;
		top: 1.5vh;
	}
	
	.other-items {
		grid-template-areas: 
			'other1 other2 other3 other4';
		max-width: 80vw;
		margin: 0;
		padding: 0;
	}
	
	.other-items img {
		width: 19.5vw;
		margin: 0;
		padding: 0;
	}
	
	.other-items a:nth-child(2) {
		top: -8vh;
		right: 2vw;
	}
	
	
	/* --- DOKUMENTATION ------------------------------------------------------------------------- */
	.grid-container-dokumentation {
		grid-template-areas:
			'banner banner banner'
			'cc cc cc'
			'titel-dokumentation titel-dokumentation titel-dokumentation'
			'tekst-til-dokumentation tekst-til-dokumentation tekst-til-dokumentation'
			'titel-samarbejdspartnere titel-samarbejdspartnere titel-samarbejdspartnere'
			'samarbejdsparnere  samarbejdsparnere  samarbejdsparnere';
	}
	
	.banner-dokumentation img {
		width: 100vw;
		height: auto;
	}
	
	.citat-container {
		width: 80vw;
	}
	
	.titel-dokumentaion h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		z-index: -1;
	}

	.titel-dokumentaion h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.titel-dokumentaion h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 2.5vh;
		width: 90vw;
		left: 5vw;
	}
	
	.titel-samarbejdspartnere h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		z-index: -1;
	}

	.titel-samarbejdspartnere h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.titel-samarbejdspartnere h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 2.5vh;
		width: 90vw;
		left: 5vw;
	}
	
	.tekst-til-dokumentation {
		width: 100vw;
		height: auto;
		grid-template-areas: 
			'spalte1 spalte2 spalte3';
	}

	.spalte1 {
		width: 25vw;
		height: auto;
		margin-left: 6vw;
		margin-top: 2vh;
	}
	
	.spalte1 h3 {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
		margin-bottom: -1.5vh;
	}
	
	.spalte1 p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}
	
	.spalte2 {
		width: 25vw;
		height: auto;
		margin-top: 2vh;
		margin-left: -6vw;
	}
	
	.spalte2 h3 {
		font-family: 'Lato', sans-serif;
		margin-bottom: -1.5vh;
	}
	
	.spalte2 p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}
	
	.spalte2 a {
		color: #D6A900;
		line-height: 1.5em;
	}
	
	.citat-fagperson{
		font-style: italic;
		font-size: 15px;
		line-height: 2em;
		font-family: 'Lato', sans-serif;
	}
	
	.citat-fagperson em {
		color: #D6A900;
		font-size: 20px;
	}

	.spalte3 {
		width: 25vw;
		height: auto;
		margin-top: 2vh;
		margin-left: -8vw;
	}
	
	.spalte3 h3 {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
		margin-bottom: -1.5vh;
	}
	
	.spalte3 p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}
	
	.spalte3 img {
		width: 50vw;
		height: auto;
		margin-top: 0vh;
		margin-left: -20vw;
	}
	
	.samarbejdspartnere {
		grid-template-areas: 
			'herning-psykiatri randers-psykiatri horsens-psykiatri lejbjergcentret marco-polo gug-geronto'
			'attruphøj taleinstitut odense-psykiatri plejecenter hjallerup-skole solkrogen'
			'ringstedshave headspace dronnig-ingrid-hospital seminarieskolen skovsgård-tranum-skole vester-mariensdal-skole';
		width: 80vw;
		margin: 0 8vw 0 12vw;
	}
	
	.herning-psykiatri {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.randers-psykiatri {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.horsens-psykiatri {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.lejbjergcentret {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.marco-polo {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.gug-geronto {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.attruphoj {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.taleinstituttet {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.odense-psykiatri {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.plejecenter-stoberiet {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.hjallerup-skole {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.solkrogen {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.ringstedshave {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.headspace {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.dronning-ingrid-hospital {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.seminarieskolen {
		width: 8vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.skovsgard-tranum-skole {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.vester-mariendal-skole {
		width: 10vw;
		height: auto;
		margin: 5vh 0 0 0; 
	}

	.samarbejdspartnere img {
		width: 8vw;
	}
	
	/* --- OM OS --------------------------------------------------------------------- */
	.grid-container-om-os {
		grid-template-areas:
			'kristine maya lasse'
			'vision-mission vision-mission vision-mission' 
			'titel-historie titel-historie titel-historie'
			'tekst-til-historie tekst-til-historie tekst-til-historie';
		width: 80vw;
	}
	
	.kristine {
		margin-top: 15vh;
	}
	
	.kristine img {
		width: 25vw;
		height: auto;
		margin-top: 5vh;
	}
	
	.kristine h2 {
		color: #606060;
	}
	
	.kristine p {
		color: #D6A900;
		font-size: 16.5px;
		margin-bottom: 5vh;
	}
	
	.maya {
		margin-top: 15vh;
	}
	
	.maya img {
		width: 25vw;
		height: auto;
		margin-top: 5vh;
	}
	
	.maya h2 {
		color: #606060;
	}
	
	.maya p {
		color: #D6A900;
		font-size: 16.5px;
		margin-bottom: 5vh;
	}
	
	.lasse {
		margin-top: 15vh;
	}
	
	.lasse img {
		width: 25vw;
		height: auto;
		margin-top: 5vh;
	}
	
	.lasse h2 {
		color: #606060;
	}
	
	.lasse p {
		color: #D6A900;
		font-size: 16.5px;
		margin-bottom: 5vh;
	}
	
	.vision-mission {
		width: 100vw;
		height: 45vh;
		display: grid;
		grid-template-areas: 
			'vision mission';
	}

	.vision {
		background-color: #ddd;
		width: 50vw;
		height: auto;
	}

	.vision h2 {
		margin-top: 6vh;
		margin-left: 10vw;
	}

	.vision p {
		margin-left: 10vw;
		margin-right: 5vw;
		font-family: 'Lato', sans-serif;
	}

	.mission {
		background-color: #ddd;
		width: 50vw;
		height: auto;
	}

	.mission h2 {
		margin-top: 6vh;
		margin-left: 5vw;
	}

	.mission p {
		margin-left: 5vw;
		margin-right: 10vw;
		font-family: 'Lato', sans-serif;
	}
	
	.tekst-til-historie {
		width: 80vw;
		height: auto;
		margin: 0 auto;
		grid-template-areas: 
		'kolonne1 kolonne2 kolonne3';
	}

	.kolonne1 {
		width: 25vw;
		height: auto;
		margin: 5vh 1vw 0;
	}
	
	.kolonne1 h3, p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}

	.kolonne2 {
		width: 25vw;
		height: auto;
		margin: 5vh 1vw 0;
	}
	
	.kolonne2 h3, p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}

	.kolonne3 {
		width: 25vw;
		height: auto;
		margin: 5vh 1vw 0;
	}

	.kolonne3 h3, p {
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
	}
	
	.kolonne4 {
		display: none;
	}
	
	/* --- KONTAKT ----------------------------------------------- */
	.grid-container-kontakt {
		grid-template-areas: 
			'billede-af-stol billede-af-stol titel1 titel1'
			'billede-af-stol billede-af-stol kontakt-info kontakt-info'
			'billede-af-stol billede-af-stol titel2 titel2'
			'billede-af-stol billede-af-stol skriv-til-os skriv-til-os';
}
	
	.kontakt {
		color: #D6A900;
	}
	
	.kontakt:hover {
		background-color: #002728;
		color: #D6A900;
	}
	
	.billede-af-stol {
		width: 50vw;
		margin: auto 0 -3px 0;
	}
	
	.billede-af-stol img{
		width: 50vw;
		margin: 0;
	}
	
	.titel1 {
		width: 47vw;
		margin-top: 17vh;
		margin-left: -10vw;
		z-index: -1;
	}

	.titel1 h2 {
		color: #606060;
		text-align: center; 
		position: relative;
	}

	.titel1 h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.titel1 h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 2.5vh;
		width: 38vw;
		left: 5vw;
	}
	
	.ikoner {
		grid-template-areas: 
			'adresse-ikon adresse'
			'telefon-ikon telefon'
			'email-ikon email'
			'facebook-ikon facebook';
	}
	
	.kontakt-info {
		grid-area: kontakt-info;
		width: 38vw;
		margin-left: -5vw;
	}
	
	.titel2 {
		width: 47vw;
		margin-left: -10vw;
		z-index: -1;
	}

	.titel2 h2 {
		color: #606060;
		text-align: center; 
		position: relative;
	}

	.titel2 h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.titel2 h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 2.5vh;
		width: 38vw;
		left: 5vw;
	}
	
	.skriv-til-os {
		grid-area: skriv-til-os;
		width: 38vw;
		margin-left: -5vw;
	}
	
	.kontakt-formular {
		background-color: #f2f2f2;
		padding: 30px;
	}

	input[type=text], select, textarea {
		width: 33.5vw;
		padding: 12px;
		border: 1px solid #ccc;
		margin-top: 2vh;
		margin-bottom: 2vh;
		resize: vertical;
		font-family: 'Lato', sans-serif;
	}

	input[type=submit] {
		background-color: #002728;
		color: white;
		margin-top: 2vh;
		padding: 2vh 1.5vw;
		border: none;
		cursor: pointer;
		font-family: 'Lato', sans-serif;
	}

	input[type=submit]:hover {
		background-color: #144041;
	}
	
	/* --- KURV ------------------------------------------------------------- */
	.tilbageknap:hover{
		background-color: #144041;
	}


  	/* --- FOOTER ------------------------------------------------------------------------- */
	
	footer {
		width: 100vw;
		text-align: center;
	}
}
