@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	overflow-x: hidden;
}

.grid-container {
	display: grid;
	grid-template-areas: 
		'logo logo logo logo'
		'nav nav nav nav'
		'banner banner banner banner'
		'citat citat citat citat'
		'tekst-om-firma tekst-om-firma tekst-om-firma tekst-om-firma'
		'foot foot foot foot';
}

.logo {
	grid-area: logo;
	background-color: #002728;
}

.logo img {
	 	width: 55vw;
		height: 12vh;
		margin-top: 0vh;
		display: block;
		margin-left: auto;
		margin-right: auto;
}


.navigation {
	grid-area: nav;
}

.citat {
	grid-area: citat;
	width: 90vw;
	height: 25vh;
	margin-top: 5vh;
	margin-left: 5vw;
}

.citat p {
	color: #606060;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	line-height: 1.5em;
}

.citationstegn {
	color: #D6A900;
	font-size: 1.5em;
}

.banner {
	grid-area: banner; 
}

.banner img { 
	width: 100vw;
	height: 40vh;
}

.tekst-om-firma {
	grid-area: tekst-om-firma;
	width: 100vw;
	height: 40vh;
}

.tekst-om-firma h2 {
	color: #606060;
	text-align: center; 
	position: relative;
}

.tekst-om-firma h2 span {
	background: #fff;
	padding: 0px 20px;
	position: relative;
	z-index: 1;
}

.tekst-om-firma h2:before {
	background: #ddd;
	content: "";
	display: block;
	height: 0.3vh;
	position: absolute;
	top: 2.5vh;
	width: 90vw;
	left: 18px;
}

.footer {
	grid-area: foot;
	background-color: #002728;
	width: 100vw;
	height: 12vh;
}

.footer p {
	color: white;
	font-family: 'Lato', sans-serif;
	margin-left: 5vw;
}


@media (min-width: 800px) {
	.grid-container {
		grid-template-areas:
			'logo logo logo logo'
			'nav nav nav nav'
			'banner banner banner banner'
			'citat citat citat citat'
			'tekst-om-firma tekst-om-firma tekst-om-firma tekst-om-firma'
			'foot foot foot foot';
	}
	
	.logo {
		width: 100vw;
	}
	
	.logo img {
	 	width: 85vw;
		height: 10vh;
		margin-top: 15px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #002728;
		height: 10vh;
		width: 100vw;
	}

	li {
	 	float: left;
		position: relative;
		left: 82px;
	}

	li a {
		display: inline-block;
		padding: 20px 20px; 
		text-align: center;
		text-decoration: none;
		font-size: 15px;
		font-family: 'Lato', sans-serif;
		color: white;
	}

	li a:hover {
		background-color: #144041;
		color: white;
	}
	
	.forside {
		color: #D6A900;
	}
	
	.forside:hover {
		background-color: #002728;
		color: #D6A900;
	}
	
	li i {
		color: white;
		margin: 20px 0px 14px 540px;
	}
	
	.citat {
		width: 35vw;
		height: 50vh;
		margin-top: -70vh;
		margin-left: 8vw; 
	}
	
	.citat p {
		font-size: 1.5em;
	}
	
	.banner img {
		width: 100vw;
		height: 100vh;
		float: right;
	}
	
	.tekst-om-firma {
		width: 100vw;
		height: 80vh;
	}
	
	.tekst-om-firma h2 {
		color: #606060;
		text-align: center; 
		position: relative;
		top: 8vh;
	}

	.tekst-om-firma h2 span {
		background: #fff;
		padding: 0px 20px;
		position: relative;
		z-index: 1;
	}

	.tekst-om-firma h2:before {
		background: #ddd;
		content: "";
		display: block;
		height: 0.3vh;
		position: absolute;
		top: 2.5vh;
		width: 86vw;
		left: 86px;
	}
	
	.footer {
		width: 100vw;
		height: 10vh;
		text-align: center;
	}
}